
div.modal-header
	h3.modal-title Ocurrió el evento
div.modal-body
	p Acción:
	pre {{ vm.action }}
	p Evento:
	pre {{ vm.event | json }}
div.modal-footer
	button(class="btn btn-primary" ng-click="$close()") OK